.react-grid-item.react-grid-placeholder {
	background: #d1d1d1;
	border: 2px dotted rgb(0, 0, 0);
	opacity: 0.2;
	transition-duration: 100ms;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.spin-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
 	margin-top: 200px;

}