$primary-color-light: #a3fbc0;
$primary-color: #00b33c;
$color-danger: #f12d2d;
$color-warning: #dcdf48;
$color-scrollBar: #a9a9a9a9;
$secondary-color: #000000a6;
$light-gray: #c8c8c8;
$box-shadow: 0px 3px 14px 0px rgb(218, 218, 218);
